.form_desti{
    padding: 30px;
    white-space: pre-wrap;
    line-height: 10px;
    background-color: lightgrey;
}
.form_desti_input{
    width: 80%;
    border-radius: 5px;
    height: 20px;
    font-size: 17px;
}

button{
    background-color: cornflowerblue;
    color: white;
    border-radius: 5px;
    font-size: 17px;
    margin-left: 80%;
}

.label_check{
    white-space: nowrap;
}

.div_label{
    grid-auto-columns: auto auto auto;
}